@import "../node_modules/leaflet/dist/leaflet.css";

/* https://codepen.io/fabiobiondi/pen/PqeWGv */

:local .wrapper {
    height: 100%;
}

:local .parent {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* flex-direction: column; */
}

:local .parent.col1 > div {
    flex-basis: 100%;
}

:local .parent.col2 > div {
    flex-basis: 50%;
}

:local .parent.row1 :global(.leaflet-container) {
    height: 100%;
}

:local .parent.row2 :global(.leaflet-container) {
    height: 50%;
}

:local .orphan :global(.leaflet-container) {
    height: 600px;
    width: 600px;
}
